.skincare-top {
    background-image: url("../assets/about-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    margin-bottom: 110px;
}
.skincare-top h2 {
    font-family: 'Jost';
}

.skincare-section-2-left-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.skincare-section-2-left-header-heading h2 {
    color: #D31B5E;
    font-size: 38px;
    padding: 0 45px;
    font-family: 'Playfair Display';
    font-weight: normal;
    font-style: normal;
    text-align: center;
}
.skincare-section-2-left-header .left-separator{
    border-bottom-style: solid;
    border-bottom-width: 3px;
    display: block;
    width: 100px;
    border-bottom-color: #E5E5E5;
}
.skincare-section-2-left-header .right-separator {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    display: block;
    width: 100px;
    border-bottom-color: #E5E5E5;
}
.skincare-section-2-left-header-heading2 p {
    font-size: 18px;
    color: #777777;
    text-align: center;
    font-family: 'Jost';
}
.skincare-section-2-left-content p {
    font-size: 16px;
    font-family: 'Jost';
    color: #777777;
    letter-spacing: 1px;
    line-height: 27px;
}
.skincare-section-2-left .image-container img {
    width: 100%;
    max-width: 574px;
    height: 100%;
    max-height: 534px;
    object-fit: cover;
}


.skincare-section3-left-header-heading h2 {
    color: #D31B5E;
    font-size: 38px;
    padding: 0 45px;
    font-family: 'Playfair Display';
    font-weight: normal;
    font-style: normal;
    text-align: center;
}
.skincare-section3-left-header .left-separator{
    border-bottom-style: solid;
    border-bottom-width: 3px;
    display: block;
    width: 100px;
    border-bottom-color: #E5E5E5;
}
.skincare-section3-left-header .right-separator {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    display: block;
    width: 100px;
    border-bottom-color: #E5E5E5;
}
.skincare-section3-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}
.skincare-section-2 {
    margin-bottom: 50px;
}